<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.yinanchen.alfred-translate-this</string>
	<key>connections</key>
	<dict>
		<key>276B99B8-9DF7-4D36-BFAD-273DAB4C007F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>99BF70FA-7302-441E-9270-2EF7A37EC770</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8AA9AE0F-7123-4ABE-A81D-52EC8D7FC00B</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Large text</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>34420154-FFFF-4999-AD3D-4A0AE14A716E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>276B99B8-9DF7-4D36-BFAD-273DAB4C007F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B5BD320-27DD-4E36-82F3-8B0906919881</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34420154-FFFF-4999-AD3D-4A0AE14A716E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Yinan Chen</string>
	<key>description</key>
	<string>Translate any language, using OpenAI and DeepL</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Translate This</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>trans</string>
				<key>subtext</key>
				<string>Press ENTER to translate</string>
				<key>text</key>
				<string>Translator</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8B5BD320-27DD-4E36-82F3-8B0906919881</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>echo {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>34420154-FFFF-4999-AD3D-4A0AE14A716E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait ...</string>
				<key>script</key>
				<string>export PYTHONPATH='./libs/'

python3 translate.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Translate with DeepL and OpenAI</string>
				<key>title</key>
				<string>Translate This</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>276B99B8-9DF7-4D36-BFAD-273DAB4C007F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>99BF70FA-7302-441E-9270-2EF7A37EC770</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>8AA9AE0F-7123-4ABE-A81D-52EC8D7FC00B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Translate This

Use OpenAI and DeepL to translate text from any source to any target. The workflow also support [Universal Actions](https://www.alfredapp.com/universal-actions/).

Requires [OpenAI API](https://platform.openai.com/) and [DeepL API](https://www.deepl.com/pro-api).

Target and source language code should be following the [DeepL API docs](https://www.deepl.com/docs-api/translate-text) if you are using DeepL.

NOTE: OpenAI model 'text-davinci-003' is used in translation, can be slow and costy, use at your own risk.
You can turn off the checkbox in the configuration and only use your DeepL API.</string>
	<key>uidata</key>
	<dict>
		<key>276B99B8-9DF7-4D36-BFAD-273DAB4C007F</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>34420154-FFFF-4999-AD3D-4A0AE14A716E</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>8AA9AE0F-7123-4ABE-A81D-52EC8D7FC00B</key>
		<dict>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>8B5BD320-27DD-4E36-82F3-8B0906919881</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>99BF70FA-7302-441E-9270-2EF7A37EC770</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>en</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Input language</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>source_language</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>zh</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Output language</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>target_language</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>OpenAI API</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>OPENAI_API_KEY</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>DeepL API KEY</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>DEEPL_API_KEY</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Enable DeepL Translation</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>DeepL Translation</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>deepl_check</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Enable OpenAI Translation</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>OpenAI Translation</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>openai_check</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/yinan-c/alfred-translate-this</string>
</dict>
</plist>
