<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.yinanchen.alfred-translate-it</string>
	<key>connections</key>
	<dict>
		<key>276B99B8-9DF7-4D36-BFAD-273DAB4C007F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>99BF70FA-7302-441E-9270-2EF7A37EC770</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8AA9AE0F-7123-4ABE-A81D-52EC8D7FC00B</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Large text</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>34420154-FFFF-4999-AD3D-4A0AE14A716E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>276B99B8-9DF7-4D36-BFAD-273DAB4C007F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B5BD320-27DD-4E36-82F3-8B0906919881</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34420154-FFFF-4999-AD3D-4A0AE14A716E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Yinan Chen</string>
	<key>description</key>
	<string>Translate with Alfred using multiple services</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Translate It</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>trans</string>
				<key>subtext</key>
				<string>Press ENTER to translate</string>
				<key>text</key>
				<string>Translate it</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8B5BD320-27DD-4E36-82F3-8B0906919881</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>echo {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>34420154-FFFF-4999-AD3D-4A0AE14A716E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait ...</string>
				<key>script</key>
				<string>export PYTHONPATH='./libs/'
export PATH="$HOME/.pyenv/shims:$HOME/.pyenv/bin:$PATH"

python3 translate.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Translate with multiple services</string>
				<key>title</key>
				<string>Translate It</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>276B99B8-9DF7-4D36-BFAD-273DAB4C007F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>99BF70FA-7302-441E-9270-2EF7A37EC770</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>8AA9AE0F-7123-4ABE-A81D-52EC8D7FC00B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## [Translate-it](https://www.github.com/yinan-c/alfred-translate-it)

Translate text with multiple services. This workflow also support [Universal Actions](https://www.alfredapp.com/universal-actions/).

### Requirements
- [Alfred PowerPack](https://www.alfredapp.com/powerpack/)
- OpenAI Translation: [OpenAI API](https://platform.openai.com/)
- DeepL Translation: [DeepL API](https://www.deepl.com/pro-api)
- Other translation services: Requires [translators](https://github.com/UlionTse/translators) library, installed via:
`pip install --upgrade translators`


### Setup and usage
- target language code, method of translation and your APIs.
(Please check [DeepL API docs](https://www.deepl.com/docs-api/translate-text) and [Translators library](https://github.com/UlionTse/translators) for supported language codes)
- Type anything followed by keyword trans, ⏎ to translate
- Then select any result and ⏎ to copy text to your clipboard
- ⌘ + ⏎ to view large text (useful if results are long)


NOTE: OpenAI model 'text-davinci-003' is used in translation, can be slow and costy, use at your own risk. If that's an issue, you can turn off the checkbox in the configuration and only use DeepL.</string>
	<key>uidata</key>
	<dict>
		<key>276B99B8-9DF7-4D36-BFAD-273DAB4C007F</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>34420154-FFFF-4999-AD3D-4A0AE14A716E</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>8AA9AE0F-7123-4ABE-A81D-52EC8D7FC00B</key>
		<dict>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>8B5BD320-27DD-4E36-82F3-8B0906919881</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>99BF70FA-7302-441E-9270-2EF7A37EC770</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>en-US</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Please check https://www.deepl.com/docs-api/translate-text for language codes, e.g. zh for Chinese</string>
			<key>label</key>
			<string>Target language code</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>target_language</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>OpenAI API key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>OPENAI_API_KEY</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>DeepL API key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>DEEPL_API_KEY</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Enable DeepL Translation</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>DeepL</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>deepl_check</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Enable OpenAI Translation</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>OpenAI</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>openai_check</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Enable OpenAI Translation</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Bing</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>bing_check</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Enable Google Translation</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Google</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>google_check</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Enable Baidu Translation</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Baidu</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>baidu_check</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Enable Youdao Translation</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Youdao</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>youdao_check</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string>https://github.com/yinan-c/alfred-translate-it</string>
</dict>
</plist>
